.jumbotron {
  background-image: linear-gradient(to top, #64b5f6 0%, #0d47a1 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white !important;
  text-align: center;
  padding-top: 120px;
  height: 600px;
}

.features-padding-top {
  padding-top: 40px;
}
