.navbar {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
  padding: 12px;
}
.navbar-brand {
  font-size: 30px;
}
.navbar-nav li {
  padding-right: 20px;
}

.form-inline {
  padding-right: 20px;
}

.btn-outline-white {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
