<app-admin-nav-bar></app-admin-nav-bar>

<div class="container margin-t">
  <div class="wrapper border" *ngFor="let user of users">
    <div class="product-img">
      <img src="http:{{profilePhotosEndpoint}}/{{user.id}}/photos" height="118" width="120">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{user.firstname}} {{user.lastname}}</h1>
        <p>{{user.email}}</p>
      </div>
      <!--<div class="product-price-btn col-sm-4">-->
        <button type="button" class="btn btn-md btn-info" [routerLink]="['../users/' + user.id + '/info']">Check {{user.firstname}}'s data</button>
      <!--</div>-->
    </div>
  </div>
</div>
