<app-admin-nav-bar></app-admin-nav-bar>

<div class="container margin-t">
  <div class="wrapper border" *ngFor="let user of users">
    <div class="product-img">
      <!--Here there should have the picture of each user: We should load the picture from the BackEnd having the name: {{user.picture}} -->
      <!-- If {{user.picture}} == null, then load the "generic_profile_photo.png" -->
      <img src="http://bit.ly/2tMBBTd" height="118" width="120">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{user.firstname}} {{user.lastname}}</h1>
        <h2>Occupation</h2>
        <p>email</p>
      </div>
    </div>
    <!-- <div class="product-price-btn col-md-4">
      <button type="button">buy now</button>
    </div> -->
  </div>
</div>
