<app-admin-nav-bar></app-admin-nav-bar>

<div class="container margin-t">
  <div class="wrapper" *ngFor="let user of users">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="120" width="120">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>{{user.firstname}} {{user.lastname}}</h1>
        <h2>Occupation</h2>
        <p>email</p>
      </div>
    </div>
    <!-- <div class="product-price-btn col-md-4">
      <button type="button">buy now</button>
    </div> -->
  </div>
</div>
