<app-main-nav-bar></app-main-nav-bar>

<div class="col-md-6 offset-md-3 col-xs-12">
  <form class="text-center border rounded border-light p-5 signin" [formGroup]="signInForm" (ngSubmit)=onSubmit()>

    <p class="h4 mb-4">Sign in</p>

    <!-- Alert component-->
    <app-alert></app-alert>

    <!-- Email -->
    <input type="email" class="form-control mb-4" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" autofocus>
    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.email">Email is invalid.</div>
    </div>

    <!-- Password -->
    <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }">
    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required.</div>
    </div>

    <!-- Forgot password -->
    <!--
    <div class="d-flex justify-content-around">
      <div>
          <a href="">Forgot password?</a>
      </div>
    </div>
    -->

    <!-- Sign-in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

  </form>
</div>
