<app-user-nav-bar [signedInUserId]="signedInUser?.id"></app-user-nav-bar>

<div class="container margin-t">

  <form class="jobOffer-form" [formGroup]="addJobOfferForm" (ngSubmit)="addJobOffer()">
    <textarea name="jobOffer-area" class="jobOffer-form" rows="3" class="form-control mb-2" placeholder="Create a Job-offer" formControlName="text"></textarea>

    <button type="submit" class="btn btn-sm btn-primary relative waves-light" type="submit">Create Job-offer</button>
  </form>

  <!-- JobOffers -->
  <div class="wrapper border" *ngFor="let jobOffer of jobOffers">

    <!-- Uploader Info -->
    <div class="uploader-info">

      <!-- Image -->
      <div class="uploader-img">
        <a [routerLink]="['../../' + jobOffer?.owner?.id + '/profile']">
          <img src="https:{{profilePhotosEndpoint}}/{{jobOffer?.owner?.id}}/photos" height="60" width="60" alt="profile_photo">
        </a>
      </div>

      <!-- Info -->
      <a [routerLink]="['../../' + jobOffer?.owner?.id + '/profile']">
        <h1>{{jobOffer?.owner?.firstname}} {{jobOffer?.owner?.lastname}}</h1>
      </a>
      <h2>{{jobOffer?.createdTime | date:'EEEE, MMMM d, y, h:mm a'}}</h2>
    </div>

    <hr>

    <!-- JobOffer body -->
    <div class="jobOffer-body">
      <p>{{jobOffer?.text}}</p>
    </div>

    <hr>

    <!-- Buttons -->
    <div class="row buttons">
      <!-- Show simple button if user has not applied for the jobOffer -->
      <div class="likes-button" *ngIf="!jobOffer?.appliedToJobOffer">
        <span class="clickableIcon" (click)="apply(jobOffer?.owner?.id, jobOffer?.id)">
          <i class="fa fa-heart-o blue-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
          <i class="fa fa-heart blue-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
        </span>
      </div>

      <!-- Show colored button if user has applied for the jobOffer -->
      <div class="likes-button" *ngIf="jobOffer?.appliedToJobOffer">
        <span class="clickableIcon" (click)="unApply(jobOffer?.owner?.id, jobOffer?.id)">
          <i class="fa fa-heart-o pink-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
          <i class="fa fa-heart pink-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
        </span>
      </div>

      <div class="comments-button">
        <span class="clickableIcon" (click)="showAppliesToggle(jobOffer)">
          <i class="fa fa-comment-o blue-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
          <i class="fa fa-comment blue-text" aria-hidden="true"> {{jobOffer?.jobAppliesCount}} </i>
        </span>
      </div>
    </div>

    <ng-container *ngIf="(jobOfferToSeeAppliesFrom != undefined) && (jobOffer?.id == jobOfferToSeeAppliesFrom?.id)">
      <a *ngFor= "let jobApply of jobOffer?.jobApplies" [routerLink]="['../../' + jobApply?.user?.id + '/profile']">
        <div class="comment-info">
          <hr>

          <div class="comment-img">
              <img src="https:{{profilePhotosEndpoint}}/{{jobApply?.user?.id}}/photos" height="50" width="50" alt="profile_photo">
          </div>

          <h1>{{jobApply?.user?.firstname}} {{jobApply?.user?.lastname}}</h1>
          <p style="font-size:15px">
            {{jobApply?.user?.occupation?.title}}
            <ng-container *ngIf="jobApply?.user?.occupation?.company != undefined && jobApply?.user?.occupation?.company != ''">  <!--Company is optional-->
              at {{jobApply?.user?.occupation?.company}}
            </ng-container>
          </p>

        </div>
      </a>
    </ng-container>
  </div>

</div>
