
<div class="wrapper-post border">

  <!-- Uploader Info -->
  <div class="uploader-info">

    <!-- Image -->
    <div class="uploader-img">
      <a [routerLink]="['../../' + postToShow?.owner?.id + '/profile']">
        <img src="https:{{profilePhotosEndpoint}}/{{postToShow?.owner?.id}}/photos" height="60" width="60" alt="profile_photo">
      </a>
    </div>

    <!-- Info -->
    <a [routerLink]="['../../' + postToShow?.owner?.id + '/profile']">
      <h1>{{postToShow?.owner?.firstname}} {{postToShow?.owner?.lastname}}</h1>
    </a>

    <h2>{{postToShow?.createdTime | date:'EEEE, MMMM d, y, h:mm a'}}</h2>
  </div>

  <hr>

  <!-- Post body -->
  <div class="post-body">
    <p>{{postToShow?.text}}</p>
  </div>

  <hr>

  <!-- Buttons -->
  <div class="row buttons">
    <!-- Show simple button if user has not liked the post -->
    <div class="likes-button" *ngIf="!postToShow?.likesPost">
          <span class="clickableIcon" (click)="addLike(postToShow?.owner?.id, postToShow?.id)">
            <i class="fa fa-heart-o blue-text" aria-hidden="true"> {{postToShow?.likesCount}} </i>
            <i class="fa fa-heart blue-text" aria-hidden="true"> {{postToShow?.likesCount}} </i>
          </span>
    </div>

    <!-- Show colored button if user has liked the post -->
    <div class="likes-button" *ngIf="postToShow?.likesPost">
          <span class="clickableIcon" (click)="deleteLike(postToShow?.owner?.id, postToShow?.id)">
            <i class="fa fa-heart-o pink-text" aria-hidden="true"> {{postToShow?.likesCount}} </i>
            <i class="fa fa-heart pink-text" aria-hidden="true"> {{postToShow?.likesCount}} </i>
          </span>
    </div>

    <div class="comments-button">
          <span class="clickableIcon" (click)="showCommentsToggle()">
            <i class="fa fa-comment-o blue-text" aria-hidden="true"> {{postToShow?.commentsCount}} </i>
            <i class="fa fa-comment blue-text" aria-hidden="true"> {{postToShow?.commentsCount}} </i>
          </span>
    </div>
  </div>

  <!-- Comments -->
  <ng-container *ngIf="showComments">
    <div class="comment-info" *ngFor= "let comment of postToShow?.comments">
      <hr>

      <!-- Image -->
      <div class="comment-img">
        <a [routerLink]="['../../' + comment?.user?.id + '/profile']">
          <img src="https:{{profilePhotosEndpoint}}/{{comment?.user?.id}}/photos" height="50" width="50" alt="profile_photo">
        </a>
      </div>

      <!-- User -->
      <a [routerLink]="['../../' + comment?.user?.id + '/profile']">
        <h1>{{comment?.user?.firstname}} {{comment?.user?.lastname}}</h1>
      </a>

      <!-- Text -->
      <h2>{{comment?.text}}</h2>
    </div>

    <!-- Input to add comment -->
    <form class="comment-form" [formGroup]="addCommentForm" (ngSubmit)="addComment(postToShow?.owner?.id, postToShow?.id)">
      <input type="text" class="form-control mb-2" placeholder="Add a comment" formControlName="text">

      <!-- Hidden submit button (submit by pressing enter) -->
      <button type="submit" style="display:none"></button>
    </form>
  </ng-container>

</div>
