<app-user-nav-bar [signedInUserId]="signedInUser.id"></app-user-nav-bar>

<div class="container margin-t">

  <!-- Main User Info -->
  <div class="wrapper border">
    <div class="product-img">
      <img src="http:{{profilePhotosEndpoint}}" height="198" width="200" alt="profile_photo">
    </div>

    <div class="product-info">
      <div class="product-text">
        <h1>{{user?.firstname}} {{user?.lastname}}</h1>
        <h2>{{user?.occupation?.title}}</h2>
        <h2>{{user?.occupation?.company}}</h2>
      </div>
    </div>

    <div class="stats text-center bg-primary">
      <div class="stat first-stat">
        <div class="stat-value">150</div>
        <div class="stat-name">Followers</div>
      </div>

      <div class="stat">
        <div class="stat-value">90</div>
        <div class="stat-name">Following</div>
      </div>
    </div>

    <button type="button" class="btn btn-lg blue darken-4" [routerLink]="['../profile']">Check how others see me!</button>

  </div>

</div>
