<app-user-nav-bar [signedInUserId]="signedInUser.id"></app-user-nav-bar>

<div class="row margin-t">

  <!-- First column -->
  <div class="col-3">

    <!-- Navigation -->
    <div class="list-group" id="list-tab" role="tablist">
      <ng-container *ngIf="signedInUser.id == userId">
        <button class="list-group-item d-flex justify-content-between align-items-center" id="list-home-list" (click)="showReceivedTrue()" [ngClass]="{'active': showReceived}">Received Requests
          <span class="badge cyan badge-pill" *ngIf="network?.receivedRequests?.length>0">{{network?.receivedRequests?.length}}</span>
        </button>

        <button class="list-group-item d-flex justify-content-between align-items-center" id="list-profile-list" (click)="showSentTrue()" [ngClass]="{'active': showSent}">Sent Requests
          <span class="badge cyan badge-pill" *ngIf="network?.sentRequests?.length>0">{{network?.sentRequests?.length}}</span>
        </button>
      </ng-container>

      <button class="list-group-item d-flex justify-content-between align-items-center" id="list-messages-list" (click)="showConnectionsTrue()" [ngClass]="{'active': showConnections}">Connections
        <span class="badge cyan badge-pill" *ngIf="network?.connections?.length>0">{{network?.connections?.length}}</span>
      </button>

      <button class="list-group-item d-flex justify-content-between align-items-center" id="search-others" (click)="showSearchBarTrue()" [ngClass]="{'active': showSearchBar}">
        Search others
      </button>

    </div>

  </div>

  <!-- Second column -->
  <div class="col-9">

    <!-- Received Request -->
    <div *ngIf="showReceived">
      <div class="wrapper border" *ngFor="let received of network?.receivedRequests">
        <div class="product-img">
          <img src="http:{{profilePhotosEndpoint}}/{{received?.sender?.id}}/photos" height="118" width="120">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{received?.sender?.firstname}} {{received?.sender?.lastname}}</h1>
            <h2>Occupation</h2>
            <p>{{received?.sender?.email}}</p>
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-sm btn-primary req-btn" (click)="accept(received?.id)">Accept</button>
          <button type="button" class="btn btn-sm btn-secondary req-btn" (click)="decline(received?.id)">Decline</button>
          <button type="button" class="btn btn-sm btn-info req-btn" [routerLink]="['../../' + received?.id + '/profile']">Visit Profile</button>
        </div>
      </div>
    </div>

    <!-- Sent Requests -->
    <div *ngIf="showSent">
      <div class="wrapper border" *ngFor="let sent of network?.sentRequests">
        <div class="product-img">
          <img src="http:{{profilePhotosEndpoint}}/{{sent?.receiver?.id}}/photos" height="118" width="120">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{sent?.receiver?.firstname}} {{sent?.receiver?.lastname}}</h1>
            <h2>Occupation</h2>
            <p>{{sent?.receiver?.email}}</p>
          </div>
        </div>

        <button type="button" class="btn btn-secondary con-btn">Delete</button>
        <button type="button" class="btn btn-info con-btn" [routerLink]="['../../' + sent?.receiver?.id + '/profile']">Visit Profile</button>

      </div>
    </div>

    <!-- Connections -->
    <div *ngIf="showConnections">
      <div class="wrapper border" *ngFor="let user of network?.connections">
        <div class="product-img">
          <img src="http:{{profilePhotosEndpoint}}/{{user.id}}/photos" height="118" width="120">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            <h2>Occupation</h2>
            <p>{{user.email}}</p>
          </div>
        </div>

        <div>
          <button type="button" class="btn btn-info con-btn" [routerLink]="['../../' + user.id + '/profile']">Visit Profile</button>
          <button type="button" class="btn btn-secondary con-btn">Disconnect</button>
        </div>

      </div>
    </div>


    <!-- User-Search Bar -->
    <div *ngIf="showSearchBar" align="right">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
              <div class="input-group stylish-input-group">
                <form [formGroup]="searchForm" (ngSubmit)=onSearchSubmit()>
                  <input type="text" class="form-control" formControlName="searchTerm" placeholder="Search users" [ngClass]="{ 'is-invalid': submitted && form.searchTerm.errors }">
                  <span class="input-group-addon">
                    <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Show search-results -->
    <div *ngIf="showSearchResults">
      <div class="wrapper border" *ngFor="let user of usersFromSearch">
        <div class="product-img">
          <img src="http:{{profilePhotosEndpoint}}/{{user.id}}/photos" height="118" width="120">
        </div>
        <div class="product-info">
          <div class="product-text">
            <h1>{{user.firstname}} {{user.lastname}}</h1>
            <h2>Occupation</h2>
            <p>{{user.email}}</p>
          </div>
        </div>

        <div>
          <!--<ng-container *ngIf="signedInUser.relationshipWith(user.id); else showDisconnect">  &lt;!&ndash; If this user is not  &ndash;&gt;
            <button type="button" class="btn btn-primary" (click)="sendFriendRequest(user.id)">Connect</button>
          </ng-container>
          <ng-template #showDisconnect>
            <button type="button" class="btn btn-secondary con-btn">Disconnect</button>
          </ng-template>-->

          <button type="button" class="btn btn-info con-btn" [routerLink]="['../../' + user.id + '/profile']">Visit Profile</button>
        </div>

      </div>
    </div>

  </div>
</div>
