<app-user-nav-bar [signedInUserId]="signedInUser.id"></app-user-nav-bar>


<div class="container margin-t">

  <!-- Main User Info -->
  <div class="wrapper border">
    <div class="product-img">
      <img src="https:{{profilePhotosEndpoint}}/{{user?.id}}/photos" height="198" width="200" alt="profile_photo">
    </div>

    <div class="product-info">
      <div class="product-text">
        <h1>{{user?.firstname}} {{user?.lastname}}</h1>
        <p style="font-size:25px">
          {{user?.occupation?.title}}
          <ng-container *ngIf="user?.occupation?.company != undefined && user?.occupation?.company != ''">  <!--Company is optional-->
            at {{user?.occupation?.company}}
          </ng-container>
        </p>
      </div>
      <div *ngIf="signedInUser.id != user?.id">  <!--Show these buttons only if this profile belongs to a different user.-->
        <button type="button" [disabled]="disabledButton" class="btn btn-primary" (click)="sendFriendRequest()">Connect</button>
        <button type="button" class="btn btn-secondary" (click)="sendMessage()">Message</button>
        <button type="button" class="btn btn-sm btn-info req-btn" [routerLink]="['/users/' + user?.id + '/network']">See {{user.firstname}}'s Network</button>
      </div>
    </div>

    <div class="stats text-center bg-primary">
      <div class="stat first-stat">
        <div class="stat-value">{{network?.connections?.length}}</div>
        <div class="stat-name">Connections</div>
      </div>
    </div>
  </div>

  <!-- Experience -->
  <div class="wrapper-2 border">

    <!-- Header -->
    <div class="row">
      <div class="col">
        <h1 class="left">Experience</h1>
      </div>
    </div>

    <!-- Items -->
    <div *ngFor="let exp of user?.experience">
      <hr>
      <div class="row">
        <div class="col">
          <h2>{{exp?.title}}</h2>
          <h3>{{exp?.company}}</h3>
          <h4>{{exp?.startDate | date:'MMMM yyyy'}} - {{exp?.endDate | date:'MMMM yyyy'}}</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Education -->
  <div class="wrapper-2 border">

    <!-- Header -->
    <div class="row">
      <div class="col">
        <h1 class="left">Education</h1>
      </div>
    </div>

    <!-- Items -->
    <div *ngFor="let edu of user?.education">
      <hr>
      <div class="row">
        <div class="col">
          <h2>{{edu?.title}}</h2>
          <h3>{{edu?.school}}</h3>
          <h4>{{edu?.startDate | date:'MMMM yyyy'}} - {{edu?.endDate | date:'MMMM yyyy'}}</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div class="wrapper-2 border">
    <h1>Skills</h1>
    <div *ngFor="let skill of user?.skills">
      <hr>
      <h2>{{skill?.name}}</h2>
      <h3>{{skill?.strength}}</h3>
    </div>
  </div>

</div>
