<nav>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue darken-4 scrolling-navbar ie-nav">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" routerLink="/">Connect</a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav ml-auto">

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="home">Home</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="network">Network
            <span class="badge badge-danger">4</span>
          </a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="#">Discussions</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="#">Notifications</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="#">Personal Information</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="#">Settings</a>
        </li>

        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" (click)="logout()">Sign out</a>
        </li>

      </ul>
    </links>

  </mdb-navbar>
</nav>
