<app-main-nav-bar></app-main-nav-bar>

<div class="col-md-6 offset-md-3 col-xs-12">
  <form class="text-center border rounded border-light p-5" [formGroup]="signUpForm" (ngSubmit)=onSubmit()>

    <p class="h4 mb-4">Sign up</p>

    <!-- Alert component-->
    <app-alert></app-alert>

    <!-- First name -->
    <input type="text" class="form-control mb-2" placeholder="First Name" formControlName="firstname" ngModel #text_val="text_val" text_val [ngClass]="{ 'is-invalid': submitted && form.firstname.errors }" required autofocus>
    <div *ngIf="submitted && form.firstname.errors" class="invalid-feedback">
        <div *ngIf="form.firstname.errors.required">First name is required.</div>
        <div *ngIf="form.firstname.errors.minLength || form.firstname.errors.maxLength">Text should be between {{minTextLength}} and {{maxTextLength}} characters.</div>
        <div *ngIf="form.firstname.errors.text_val">First name must contain letters only.</div>
    </div>

    <!-- Last name -->
    <input type="text" class="form-control mt-4 mb-1" placeholder="Last Name" formControlName="lastname" ngModel #text_val="text_val" text_val [ngClass]="{ 'is-invalid': submitted && form.lastname.errors }" required>
    <div *ngIf="submitted && form.lastname.errors" class="invalid-feedback">
        <div *ngIf="form.lastname.errors.required">Last name is required.</div>
        <div *ngIf="form.lastname.errors.minLength || form.lastname.errors.maxLength">Text should be between {{minTextLength}} and {{maxTextLength}} characters.</div>
        <div *ngIf="form.lastname.errors.text_val">Last name must contain letters only.</div>
    </div>

    <!-- Email -->
    <input type="email" class="form-control mt-4 mb-1" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" required>
    <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Email is required.</div>
        <div *ngIf="form.email.errors.email">Email is invalid.</div>
        <div *ngIf="form.email.errors.maxLength">Email should not exceed the {{maxEmailLength}} characters.</div>
    </div>

    <!-- Password -->
    <input type="password" class="form-control mt-4 mb-1" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" required>
    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required.</div>
        <div *ngIf="form.password.errors.minLength || form.password.errors.maxLength">Password should be between {{minPasswordLength}} and {{maxPasswordLength}} characters.</div>
    </div>

    <!-- Confirm Password -->
    <input type="password" class="form-control mt-4 mb-1" placeholder="Confirm password" formControlName="confirmPassword" ngModel #compare_pass_fail="compare_pass_fail" compare_pass_fail [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" required>
    <div *ngIf="submitted && form.confirmPassword.errors && (form.confirmPassword.dirty || form.confirmPassword.touched)" class="invalid-feedback">
        <div *ngIf="form.confirmPassword.errors.compare_pass">Passwords do not match!</div>
    </div>

    <div class="input-group mt-4 mb-3">
        <input type="file" aria-describedby="inputGroupFileAddon01" style="display: none" (change)="onImageChange($event)" #fileInput>
        <label class="btn btn-primary" (click)="fileInput.click()">Add a profile picture (optional)</label>
    </div>

    <!--<div class="input-group mb-3">
      <input id="fileReset" style="display: none" (change)="onImageReset()" #fileReset>
      <label class="btn btn-primary" for="fileReset" (click)="fileReset.click()">Reset selected profile picture</label>
    </div>-->

    <!-- Sign-up button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign up</button>

  </form>
</div>
