<app-main-nav-bar></app-main-nav-bar>

<div class="col-md-6 offset-md-3 col-xs-12">
  <form class="text-center border rounded border-light p-5" [formGroup]="signUpForm" (ngSubmit)=onSubmit()>

    <p class="h4 mb-4">Sign up</p>

    <!-- Alert component-->
    <app-alert></app-alert>

    <!-- First name -->
    <input type="text" class="form-control mb-2" placeholder="First Name" formControlName="firstname" ngModel #text_val="text_val" text_val [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required autofocus>
    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div class="error" *ngIf="f.firstname.errors.required">First name is required.</div>
        <div class="error" *ngIf="f.firstname.errors.minLength || f.firstname.errors.maxLength">Text should be between 2 and 45 characters.</div>
        <div class="error" *ngIf="f.firstname.errors.text_val">First name must contain letters only.</div>
    </div>

    <!-- Last name -->
    <input type="text" class="form-control mt-4 mb-1" placeholder="Last Name" formControlName="lastname" ngModel #text_val="text_val" text_val [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" required>
    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div class="error" *ngIf="f.lastname.errors.required">Last name is required.</div>
        <div class="error" *ngIf="f.lastname.errors.minLength || f.lastname.errors.maxLength">Text should be between 2 and 45 characters.</div>
        <div class="error" *ngIf="f.lastname.errors.text_val">Last name must contain letters only.</div>
    </div>

    <!-- Email -->
    <input type="email" class="form-control mt-4 mb-1" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div class="error" *ngIf="f.email.errors.required">Email is required.</div>
        <div class="error" *ngIf="f.email.errors.email">Email is invalid.</div>
    </div>

    <!-- Password -->
    <input type="password" class="form-control mt-4 mb-1" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div class="error" *ngIf="f.password.errors.required">Password is required.</div>
    </div>

    <!-- Confirm Password -->
    <input type="password" class="form-control mt-4 mb-1" placeholder="Confirm password" formControlName="confirmPassword" ngModel #compare_pass="compare_pass" compare_pass [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required>
    <div *ngIf="submitted && f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="invalid-feedback">
        <div class="error" *ngIf="f.confirmPassword.errors.required">Password confirmation is required.</div>
        <div class="error" *ngIf="f.confirmPassword.errors.compare_pass">Passwords do not match!</div>
    </div>

    <div class="input-group mt-4 mb-3">
        <input type="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" style="display: none" (change)="onImageChanged($event)" #fileInput>
        <label class="btn btn-primary" for="inputGroupFile01" (click)="fileInput.click()">Add a profile picture (optional)</label>
    </div>

    <!-- Sign-up button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign up</button>

  </form>
</div>
